<app-navbar></app-navbar>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img  height=100px src="https://e7.pngegg.com/pngimages/117/675/png-clipart-visa-and-mastercard-ads-mastercard-credit-card-american-express-visa-debit-card-mastercard-text-payment.png" class="d-block w-100" alt="...">

        <div class="container">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        
                    <div class="row g-3">
                        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            <label for="Card Holder Name" class="form-label">Card Holder Name</label>
                            <input placeholder="Enter your Name" type="text" class="form-control">
                            </div>

    
                                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                        <label for="" class="form-label">Card Number</label>
                                        <input placeholder="Enter your Number" type="text" class="form-control">
                                    </div>
                                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                        <label for="" class="form-label">CVV</label>
                                        <input placeholder="Enter your CVV" type="text" class="form-control">
                                    </div>
                                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                        <label for="" class="form-label">Expiry Date</label>
                                        <input type="date" class="date form-control">
                                    </div>
                                    
                                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                     <button class="btn btn-success">Pay</button>
                                
                                    </div>
                                </div>
                            </div>