<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            
        
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://pix10.agoda.net/hotelImages/623/623674/623674_14042313330019169157.jpg?ca=2&ce=1&s=1024x768" class="d-block w-100" alt="...">
                  </div>
                  
                  <div class="carousel-item">
                    <img src="https://pix10.agoda.net/hotelImages/522/522422/522422_15102500380037144969.jpg?ca=&ce=1&s=1024x768" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://pix10.agoda.net/hotelImages/6982717/-1/6c69ca2ca73395e916d040857234f3ab.jpg?ca=8&ce=1&s=1024x768" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              </div>
              </div>
              </div>
              
              
              
        

              
                <div class="row g-3">
                    <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xl-3 col xxl-3">
                        <div class="card">
                            <img height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQv5bJGlMJ2MDw7KBKYK-XXm37tV12-l0lupg&usqp=CAU" class=card-img-top alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Single Bed</h5>
                              <p class="card-text">
                                A Home Away From Home Choose Your Perfect Stay
                                </p>
                              <a href="https://www.goibibo.com/hotels/hisham-residency-hotel-in-cochin-8802389049891487933/?utm_source=google&utm_medium=cpc&utm_campaign=Hotel_DSA_Domestic&utm_content=Domestic-Hotel&gclid=CjwKCAjwhNWZBhB_EiwAPzlhNs4lfFiFIAp4NBI6B91Arpe0txp-E9nIW-EhpsJ08h0cRPmFSxnMQxoCKxAQAvD_BwE" class="btn btn-danger">View More</a>
                            </div>
                          </div>
                          </div>
                          
                    <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xl-3 col xxl-3">
                        <div class="card">
                            <img height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDy5vs7ZsnspviQbFjhGYErlwGhItBRRleZw&usqp=CAU" class=card-img-top alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Double Bed</h5>
                              <p class="card-text">
                                A Home Away From Home Choose Your Perfect Stay
                                </p>
                              <a href="https://www.youtube.com/watch?v=TQyrqPBUr7c" class="btn btn-danger">View More</a>
                            </div>
                          </div>
                    </div>
      
                    <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xl-3 col xxl-3">
                      <div class="card">
                          <img height="200px" src="https://www.naturalbedcompany.co.uk/wp-content/uploads/Hoxton-bed-with-Camden-bedside-table-in-walnut-1-1024x576.jpg" class=card-img-top alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Retro Bed</h5>
                            <p class="card-text">
                              A Home Away From Home Choose Your Perfect Stay
                              </p>
                            <a href="https://www.youtube.com/watch?v=TQyrqPBUr7c" class="btn btn-danger">View More</a>
                          </div>
                        </div>
                  </div>
      
                  <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xl-3 col xxl-3">
                      <div class="card">
                          <img height="200px" src=" https://koloapp.in/magazine/wp-content/uploads/2022/05/cottage-bed-2.jpg" class=card-img-top alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Retro Bed</h5>
                            <p class="card-text">
                              A Home Away From Home Choose Your Perfect Stay
                              </p>
                            <a href="https://www.youtube.com/watch?v=TQyrqPBUr7c" class="btn btn-danger">View More</a>
                          </div>
                        </div>
                        </div>
                  </div>
                  
                  
                  
                
                  
        
              
        
        
        