<app-navbar></app-navbar>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img  height=1000px src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7D9YLgpXdB2AOYEZC5cPEWP7c8w8iDQnB6w&usqp=CAU" class= d-block w-100 alt="...">
      </div>
      <div class="carousel-item">
        <img height=1000px src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNlW0ClxXSWeVAEta0inlCXTotSDDRxGkWRg&usqp=CAU" class=d-block w-100 alt="...">
      </div>
      <div class="carousel-item">
          <img  height=1000px src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2Y1eWnDE7DMq8IkoNRpiRFDXIh_5QZt8svA&usqp=CAU" class= d-block w-100 alt="...">
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  
  </div>
  
  

  <div class="container">
    <div class="row">
        <div class="col col-12-col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Name</label>
            <input placeholder="Enter your name" type="text" class="form-control">
        </div>
        <div class="col col-12-col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Address</label>
            <textarea placeholder="Enter your Details" name="" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="col col-12-col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Mobile No</label>
            <input placeholder="Enter your number" type="text" class="form-control">
        </div>

        <div class="col col-12-col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Room Type</label>
    
        
           <select name="select" id="select" class="form-control">
            <option value="Single">Single</option>
            <option value="Double">Double</option>
           </select>

        

        </div>
        <div class="col col-12-col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Email</label>
            <input placeholder="Enter your email" type="email" class="form-control">
        </div>
        <div class="col col-12-col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Purpose</label>
            <input placeholder="Enter the Details" type="text" class="form-control">
        </div>
        <div class="col col-12-col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label">Id Proof</label>
            <input type="file" class="file form-control">
        </div>
        <div class="col col-12-col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <label for="" class="form-label"></label><p>
            </p>
         <a href="/payment"><button class="btn btn-success">Book Now</button></a>
         </div>
         </div>
         